@using HallOfFame.Web.Common
@using Microsoft.AspNet.Identity
@using Mvc.RazorTools.FontAwesome
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = string.Empty }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="@Url.Action(ControllerNames.Index, "Create", new { area = "Projects" })" title="New Project">
                    <i class="fa fa-plus-circle"></i> New Project
                </a>
            </li>
            <li>
                <a href="@Url.Action(ControllerNames.Index, ControllerNames.Messages, new { area = string.Empty })">@Html.FontAwesome("fa fa-envelope")</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> @User.Identity.GetUserName() <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action(ControllerNames.Index, "Profile", new { area = "Users"})" title="Profile">
                            <i class="fa fa-user"></i> Profile
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action(ControllerNames.Index, "Settings", new { area = "Users"})" title="Settings">
                            @Html.FontAwesome("fa fa-gear") Settings
                        </a>
                    </li>
                    <li class="divider"></li>
                </ul>
            </li>

            <li>

            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" title="Sing out">
                    @Html.FontAwesome("fa fa-sign-out")
                </a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action(ControllerNames.Index, "Create", new { area = "Projects" })" title="New Project">
                <i class="fa fa-plus-circle"></i> New Project
            </a>
        </li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: new { area = string.Empty }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { area = string.Empty }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
