@model HallOfFame.Web.ViewModels.Shared.UserInfoViewModel

<a href="@(string.Format("/users/{0}", @Model.UserName))">
    <img src="@Model.AvatarUrl" alt="@Model.UserName Avatar" width="35" height="35" title="@Model.UserName" />
</a>
