@model HallOfFame.Web.ViewModels.Shared.UserInfoViewModel
<style>
    div.user-holder:hover {
        background-color: #5f059c;
    }

    .user-holder {
        background-color: #9233d3;
        background-color: rgba(146, 51, 211, 0.80);
        display: inline-block;
        min-width: 220px;
        height: 75px;
        margin-bottom: 5px;
        margin-right: 5px;
    }

        .user-holder a {
            display: block;
            width: 100%;
            height: 100%;
        }

        .user-holder img {
            margin-top: 14px;
            margin-left: 5px;
            float: left;
            min-width: 40px
        }

        .user-holder div {
            color: whitesmoke;
            float: left;
            display: inline-block;
            min-width: 180px;
            margin-left: 15px;
        }

            .user-holder div h3 {
                font-size: 14px;
                margin-bottom: 3px;
            }

            .user-holder div p {
                font-size: 1em;
            }
</style>

<div class="col-md-12 user-holder">
    <a href="@(string.Format("/users/{0}", @Model.UserName))">
        <img src="@Model.AvatarUrl" alt="@Model.UserName Avatar" class="img-responsive" width="50" height="50" title="@Model.UserName" />
        <div >
            <h3>@Html.DisplayFor(m => m.UserName)</h3>
            <p>@Html.DisplayFor(m => m.LastName) @Html.DisplayFor(m => m.LastName)</p>
        </div>
    </a>
</div>
