@using HallOfFame.Web.Infrastructure.Helpers.Html
@model HallOfFame.Web.ViewModels.Search.SearchResultInfo

@{
    ViewBag.Title = string.Format("Search \"{0}\"", Model.Query);
    var options = new AjaxOptions
        {
            UpdateTargetId = "results-container",
            HttpMethod = "Get",
            InsertionMode = InsertionMode.Replace,
        };
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Search result for '@Model.Query'</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="list-group search-results">
            @Ajax.RawActionLink(string.Format("<i class='fa fa-code fa-fw'></i> Projects <span class='badge'>{0}</span>", @Model.ProjectsCount),
                "Projects", "Search",
                new { area = string.Empty, q = Model.Query },
                options, new { @class = "list-group-item", id = "projects-nav" })

            @Ajax.RawActionLink(string.Format("<i class='fa fa-graduation-cap fa-fw'></i> Courses <span class='badge'>{0}</span>", @Model.CoursesCount),
                "Courses", "Search",
                new { area = string.Empty, q = Model.Query },
                options, new { @class = "list-group-item @(Model.Type)" })

            @Ajax.RawActionLink(string.Format("<i class='fa fa-user fa-fw'></i> Users <span class='badge'>{0}</span>", @Model.UsersCount),
                "Users", "Search",
                new { area = string.Empty, q = Model.Query },
                options, new { @class = "list-group-item" })
        </div>
    </div>
    <div class="col-md-9" id="results-container">
        @*@Html.Action(@Model.Type, "Search", new { area = string.Empty, q = Model.Query, page = Model.Page })*@
    </div>
</div>

<script>
    $(function () {
        $('#projects-nav').click();
    });
</script>
