@model HallOfFame.Web.ViewModels.Comments.CommentViewModel

<div class="media">
    <a class="pull-left" href="@(string.Format("/users/{0}", @Model.UserName))">
        <img class="media-object img-circle" src=@Model.UserAvatar alt="@Model.UserName" width="35" height="35">
    </a>
    <div class="media-body">
        <h4 class="media-heading">
            @Html.DisplayFor(m => m.UserName) &nbsp;
            <span class="small">@Html.DisplayFor(m => m.CreatedOn)</span>
        </h4>
        <p>@Html.DisplayFor(m => m.Content, new { @class="col-md-12"})</p>
    </div>
</div>
