<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    

    <meta name="description" content="Hall of Fame for Teamwork Projects" />
</head>
<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hall of Fame", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <div class="col-sm-3 col-md-3">
                    <form class="navbar-form search-form" role="search" action="/Search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" @* placeholder=@Resource.Search*@ name="q">
                            <div class="input-group-btn">
                                <button class="btn btn-default btn-sm" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content ">
        @RenderBody()
        <hr />
        <footer class="footer">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="footer-widget">
                        <h4><i class="fa fa-unlink"></i> &nbsp; Navigate</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-home"></i> &nbsp; Home</a></li>
                            <li><a href="#"><i class="fa fa-code"></i> &nbsp; Projects</a></li>
                            <li><a href="#"><i class="fa fa-graduation-cap"></i> &nbsp; Courses</a></li>
                            <li><a href="#"><i class="fa fa-gear"></i> &nbsp; Service</a></li>
                            <li><a href="#"><i class="fa fa-laptop"></i> &nbsp; Feature</a></li>
                            <li><a href="#"><i class="fa fa-picture-o"></i> &nbsp; Gallery</a></li>
                            <li><a href="#"><i class="fa fa-table"></i> &nbsp; Pricing</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="footer-widget">
                        <h4><i class="fa fa-user"></i> &nbsp; About Us</h4>
                        <p>We aim to provide platform where telerik academy students can show their teamwork project, rate them, learn from other.</p>
                        <div class="social">
                            <a href="#" class="facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                            @*<a href="#" class="twitter"><i class="fa fa-twitter fa-2x"></i></a>*@
                            <a href="#" class="google-plus"><i class="fa fa-google-plus-square fa-2x"></i></a>
                            @*<a href="#" class="linkedin"><i class="fa fa-linkedin fa-2x"></i></a>*@
                            <a href="#" class="github"><i class="fa fa-github-square fa-2x"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-5">
                    <div class="footer-widget">
                      
                    </div>
                </div>
                <div class="col-md-3 col-sm-5">
                    <div class="footer-widget contact">
                        <h4><i class="fa fa-phone"></i> &nbsp; Contact Us</h4>
                       @* @Html.Partial("_FeedbackPartial")*@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="copy">
                    <p>&copy; @DateTime.Now.Year - Hall of Fame</p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
