@using Kendo.Mvc.UI
@model HallOfFame.Web.Areas.Projects.ViewModels.ProjectSettingsViewModel

@{
    ViewBag.Title = @Model.Name;
}
<h1>Settings</h1>

<div class="container">
    @using (@Html.BeginForm())
    {
        <h2>@Html.ValidationSummary()</h2>
        <div class="row form-horizontal">
            <div class="col-md-8">
                <div class="content-block">
                    <div class="row">
                        <div class="form-group">
                            <strong>
                                @Html.LabelFor(m => m.TeamName, new { @class = "col-md-2 control-label" })
                            </strong>
                            <div class="col-md-6">
                                @Html.EditorFor(m => m.TeamName, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <strong>
                                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                            </strong>
                            <div class="col-md-6">
                                @Html.DisplayFor(m => m.Name, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="form-group">
                            <strong>
                                @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
                            </strong>
                            <div class="col-md-6">
                                @Html.EditorFor(m => m.Title, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <strong>
                                @Html.LabelFor(m => m.Website, new { @class = "col-md-2 control-label" })
                            </strong>
                            <div class="col-md-6">
                                @Html.EditorFor(m => m.Website, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <strong>
                                @Html.LabelFor(m => m.CourseId, new { @class = "col-md-2 control-label" })
                            </strong>
                            <div class="col-md-6">
                                @Html.DropDownListFor(m => m.CourseId, new SelectList(@ViewBag.Courses, "Id", "Name"), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.PhotoUrl, new { @class = "col-md-2 control-label" })
                            <div class="col-md-8">
                                @Html.HiddenFor(m => m.PhotoUrl, new { @id = "photo-url-input" })
                                @(Html.Kendo().Upload()
                                      .Name("files")
                                      .HtmlAttributes(new { accept = "image/*" })
                                      .Multiple(false)
                                      .Events(events => events
                                                            .Success("onSuccess")
                                      )
                                      .Async(a => a
                                                      .Save("Save", "Create")
                                                      .AutoUpload(true)
                                      )
                                )
                            </div>
                        </div>
                        <script>
                            function onSuccess(e) {
                                console.log(e.response.ImageName);
                                $("#photo-url-input").val(e.response.ImageName);
                                $("#photo-url-holder").attr("src", e.response.ImageName);
                            }
                        </script>
                    </div>
                    <hr />
                    <style>
                    </style>
                    <div class="row">
                        <div class="col-md-12">
                            <img src="@Model.PhotoUrl" alt="@Model.Name cover photo" class="img-responsive" title="Cover photo" id="photo-url-holder" />
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    @(Html.Kendo().EditorFor(m => m.Description).Name("Description").Encode(false).HtmlAttributes(new { style = "height:500px" })
                                    )
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.Partial("_Comments", Model.Id)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-block">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-primary" value="Save" />
                            <a href=@Url.Action("Index", "Details", new { area = "Projects", name = Model.Name })
                               class="btn btn-primary">Cancel</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Creators</h2>
                            @foreach (var user in Model.Team)
                            {
                                Html.RenderPartial("_userInfoPartial", user);
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @* @Html.HiddenFor(m => m.AddedContributor, new { id = "added-contributor" })*@
                            @(Html.Kendo().AutoComplete()
                                  .Name("AddedContributor")
                                  .DataTextField("UserName")
                                  .Filter("contains")
                                  .MinLength(3)
                                  .TemplateId("user-template")
                                  .HtmlAttributes(new { style = "width:250px" })
                                  .DataSource(source =>
                                              source.Read(read => read.Action("GetUsers", "Settings")
                                                                      .Data("onAdditionalData"))
                                                  .ServerFiltering(true))
                                  .Events(e => e.Change("onChange"))
                  .BindTo(Model.AddedContributor)
                            )
                            <input type="submit" class="btn btn-sm btn-primary" id="btn-add-contributor" disabled="disabled" value="Add" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <strong>
                            @Html.LabelFor(m => m.GitHubLink, new { @class = "col-md-3 control-label" })
                        </strong>
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.GitHubLink, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <strong>
                            @Html.LabelFor(m => m.GooglePlusLink, new { @class = "col-md-3 control-label" })
                        </strong>
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.GooglePlusLink, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <strong>
                            @Html.LabelFor(m => m.FacebookLink, new { @class = "col-md-3 control-label" })
                        </strong>
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.FacebookLink, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script>
    var addContributorBtn = $("#btn-add-contributor");
    var contributorInput = $("#added-contributor");

    function onAdditionalData() {
        return ({
            text: $("#Team").val()
        });
    }
    function onChange(data) {
        console.log(data);
        contributorInput.val();
        addContributorBtn.removeAttr("disabled");
    }
</script>
<script id="user-template" type="text/x-kendo-template">
    <div class="col-md-12 user-holder">
        <img src="#: AvatarUrl #" alt="#: UserName # Avatar" class="img-responsive" width="50" height="50" title="#: UserName #" />
        <div>
            <h3>#: UserName #</h3>
            <p>#: FirstName # #: LastName #</p>
        </div>
    </div>
</script>