@model HallOfFame.Web.Areas.Projects.ViewModels.LikeViewModel
@{
    var ajaxOpts = new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "Post", UpdateTargetId = "likes-container" };
}

<div class="likes-holder text-center">
    @if (Model.Value == false)
    {
        using (@Ajax.BeginForm("Like", ajaxOpts))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.ProjectId)
            @Html.HiddenFor(m => m.Value)
            <input type="submit" class="like" value="" />
        }
    }
    else if (Model.Value)
    {
        using (@Ajax.BeginForm("Unlike", ajaxOpts))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.ProjectId)
            @Html.HiddenFor(m => m.Value)
            <input type="submit" class="thanks" value="" />
        }
    }
</div>